{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template core_customfield/list

  Moodle list template.

  The purpose of this template is to render a list.

  Classes required for JS:
  * none

  Data attributes required for JS:
  * none

  Context variables required for this template:
  * attributes Array of name / value pairs.

  Example context (json):
  {
      "categories": "array",
      "singleselect" : "select"
  }
}}

<div class="row justify-content-between">
    <div class="col-auto">
        <h2>{{pagetitle}}</h2>
    </div>
    <div class="col-md-2">
        {{#addcategorybutton}}
            {{{addcategorybutton}}}
        {{/addcategorybutton}}
    </div>
</div>

{{{alert}}}

<div data-region="list-page" id="customfield_catlist" data-handler="{{{handler}}}">
    {{^categories}}
        <p>{{{nocategories}}}</p>
    {{/categories}}

    {{#categories}}
        <div class="row align-items-start">
            <div class="col-auto">
                <h3>{{name}}</h3>
            </div>
            <div class="col-4">
                <a href="{{editcategoryurl}}" data-role="editcategory" data-id="{{id}}">{{#pix}}
                    t/edit, core, {{#str}} edit, moodle {{/str}} {{/pix}}</a>
                <a href="{{deletecategoryurl}}" class="confirm_delete_category" data-role="deletecategory" data-id="{{id}}">{{#pix}}
                    t/delete, core, {{#str}} delete, moodle {{/str}} {{/pix}}</a>
                <a href="#" class="move_up_category" data-id="{{id}}">{{#pix}}
                    t/up, core, {{#str}} moveup, moodle {{/str}} {{/pix}}</a>
                <a href="#" class="move_down_category" data-id="{{id}}">{{#pix}}
                    t/down, core, {{#str}} movedown, moodle {{/str}} {{/pix}}</a>
            </div>
        </div>
        <div>
            <table id="core_customfield-managefields-wrapper" class="generaltable fullwidth">
                <thead>
                <tr>
                    <th scope="col" class="col-5">{{#str}} customfield, core_customfield {{/str}}</th>
                    <th scope="col" class="col-2">{{#str}} shortname, core_customfield {{/str}}</th>
                    <th scope="col" class="col-2">{{#str}} type, core_customfield {{/str}}</th>
                    <th scope="col" class="text-right">{{#str}} action, core_customfield {{/str}}</th>
                </tr>
                </thead>
                <tbody>
                    {{#fields}}
                        <tr data-field-name="{{name}}">
                            <td class="col-5">
                                <p>{{{name}}}</p>
                            </td>
                            <td class="col-2">
                                <p>{{{shortname}}}</p>
                            </td>
                            <td class="col-2">
                                <p>{{{type}}}</p>
                            </td>
                            <td class="text-right">
                                <a href="{{editfieldurl}}" data-role="editfield">{{#pix}}
                                    t/edit, core, {{#str}} edit, moodle {{/str}} {{/pix}}</a>
                                <a href="{{deletefieldurl}}" class="confirm_delete" data-id="{{id}}" data-role="deletefield">{{#pix}}
                                    t/delete, core, {{#str}} delete, moodle {{/str}} {{/pix}}</a>
                                <a href="#" class="move_up_field" data-id="{{id}}">{{#pix}}
                                    t/up, core, {{#str}} moveup, moodle {{/str}} {{/pix}}</a>
                                <a href="" class="move_down_field" data-id="{{id}}">{{#pix}}
                                    t/down, core, {{#str}} movedown, moodle {{/str}} {{/pix}}</a>
                            </td>
                        </tr>
                    {{/fields}}
                    {{^fields}}
                        <td colspan="4">There are no fields on this category.</td>
                    {{/fields}}
                </tbody>
            </table>
        </div>
        <br><br>
    {{/categories}}
</div>

{{#categories}}
    {{#singleselect}}
        {{>core/single_select}}
    {{/singleselect}}
{{/categories}}

{{#js}}
    require(['core_customfield/form'], function(s) {
    s.init();
    });
{{/js}}

